.timeline {
    background: linear-gradient(rgba(#000, 0.5), rgba(#000, 0.5)), url("../img/2.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: white;
    padding-top:80px ;
    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        &__item{
        &-title{
            font-size: 36px;
            margin-bottom: 40px;
        }}
    }
}
