*,
*::before,
*::after {
  margin: 0;
  padding: 0; }

html {
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth; }

a,
a:active,
a:link {
  text-decoration: none;
  color: white; }

ul {
  list-style: none; }

.container {
  width: 80%;
  max-width: 1160px;
  margin: auto; }
  @media only screen and (max-width: 425px) {
    .container {
      width: 90%; } }

.progress {
  width: 100%;
  height: 4px;
  background: #e9ecef;
  border-radius: 5px;
  position: relative; }
  .progress-bar {
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 80%;
    background: linear-gradient(to right, #35a22c, #0ea8cf); }

.content {
  text-align: center;
  max-width: 770px;
  width: 70%;
  margin: 65px auto; }
  .content-title {
    font-size: 36px;
    margin-bottom: 20px;
    text-transform: capitalize; }
  .content-description {
    line-height: 1.5;
    letter-spacing: 1px;
    font-size: 16px; }
  @media only screen and (max-width: 768px) {
    .content {
      width: 90%; } }
  @media only screen and (max-width: 425px) {
    .content {
      width: 100%; } }

.btn-menu {
  display: inline-block;
  color: white;
  font-size: 20px;
  display: none;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 10px; }
  .btn-menu:hover, .btn-menu:focus {
    border: 1px solid #0ea8cf;
    background-color: #0ea8cf; }
  @media only screen and (max-width: 768px) {
    .btn-menu {
      display: inline-block; } }

.btn {
  display: inline-block;
  padding: 10px 15px;
  color: black;
  background-color: white;
  border: 1px solid black;
  box-sizing: border-box;
  text-align: center;
  border-radius: 5px;
  transition: 300ms; }
  .btn-block {
    width: 100%; }
  .btn:hover {
    background-color: #35a22c;
    color: white;
    border: 1px solid #35a22c;
    transition: 300ms; }
  .btn-primary {
    background-color: #35a22c;
    cursor: pointer;
    color: white;
    border: none;
    outline: none;
    transition: 500ms;
    border: 1px solid #0ea8cf; }
    .btn-primary:focus {
      transition: 500ms;
      background-color: #0ea8cf;
      border: 1px solid #0ea8cf; }
    .btn-primary:hover {
      border: 1px solid #0ea8cf;
      background-color: #0ea8cf; }

.node {
  margin-bottom: 15px; }
  .node-date {
    display: inline-block;
    margin-bottom: 15px;
    padding: 5px 9px;
    border: 3px solid #35a22c; }
  .node-title {
    font-size: 20px;
    margin-bottom: 20px; }
  .node-description {
    margin-bottom: 20px; }

.header {
  height: 100px;
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 99;
  align-items: center;
  justify-content: center;
  transition: 0.3s; }

.fixed-nav {
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.7); }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .navbar__left {
    text-align: center; }
    .navbar__left a {
      font-size: 30px;
      font-weight: bolder; }
  .navbar__right.toggle {
    height: 250px;
    transition: 0.3s; }
    .navbar__right.toggle a {
      font-size: 12px;
      display: none; }
  @media only screen and (max-width: 768px) {
    .navbar__right {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      height: 0;
      top: 100%;
      transition: 0.3s;
      z-index: -1;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.7);
      transition: 0.3s; }
      .navbar__right a {
        font-size: 0;
        display: none;
        transition: none !important; }
      .navbar__right.toggle a {
        font-size: 14px;
        transition: none;
        display: inline-block; } }

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .menu-item a {
    display: inline-block;
    padding: 0 20px;
    font-weight: 700;
    transition: 500ms;
    text-transform: capitalize; }
    .menu-item a:hover {
      transition: 500ms;
      color: #35a22c !important; }
    @media only screen and (max-width: 768px) {
      .menu-item a {
        padding: 20px; } }
  @media only screen and (max-width: 768px) {
    .menu {
      flex-direction: column; }
      .menu-item a {
        padding: 10px; } }

.masterhead {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/1.jpg");
  height: 100vh;
  min-height: 600px;
  background-size: cover;
  background-repeat: no-repeat; }
  .masterhead__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 100%; }
    .masterhead__container .avatar {
      margin-bottom: 20px; }
      .masterhead__container .avatar img {
        z-index: 5;
        border-radius: 100%;
        border: 5px white solid;
        object-fit: cover;
        max-width: 120px; }
    .masterhead__container .presentation {
      margin-bottom: 25px;
      color: white;
      font-size: 35px; }
      @media only screen and (max-width: 768px) {
        .masterhead__container .presentation {
          font-size: 28px; } }
    .masterhead__container .profession {
      font-size: 20px; }

.skills-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 50px; }
  .skills-grid-item {
    height: 80px; }
    .skills-grid-item-title {
      text-transform: capitalize;
      font-weight: bold;
      margin-bottom: 10px; }
  @media only screen and (max-width: 768px) {
    .skills-grid {
      grid-template-columns: repeat(2, 1fr); } }
  @media only screen and (max-width: 425px) {
    .skills-grid {
      grid-template-columns: repeat(1, 1fr); } }

.claims {
  min-height: 90vh;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/3.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .claims-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 50px; }
    .claims-grid-item {
      text-align: center;
      padding: 20px 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 5px;
      min-height: 240px;
      transition: 600ms; }
      .claims-grid-item:hover {
        background-color: black;
        transition: 600ms; }
      .claims-grid-item-title {
        font-size: 50px;
        color: #35a22c;
        display: block;
        margin-bottom: 20px; }
      .claims-grid-item-subtitle {
        display: inline-block;
        font-size: 20px;
        font-weight: 800;
        margin-bottom: 15px; }
    @media only screen and (max-width: 768px) {
      .claims-grid {
        grid-template-columns: repeat(1, 1fr); } }

.portfolio__filter {
  display: flex;
  max-width: 1000px;
  width: 60%;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 60px;
  justify-content: center; }
  .portfolio__filter-item {
    margin-right: 10px;
    margin-bottom: 10px; }
.portfolio__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 240px;
  margin-bottom: 100px;
  gap: 30px; }
  .portfolio__grid__item {
    position: relative;
    cursor: pointer;
    border-radius: 20px; }
    .portfolio__grid__item-img {
      width: 100%;
      border-radius: 4px;
      height: 100%; }
    .portfolio__grid__item__detail {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      flex-direction: column;
      background-color: rgba(53, 162, 44, 0.6);
      opacity: 0;
      transition: 800ms; }
      .portfolio__grid__item__detail:hover {
        transition: 800ms;
        opacity: 1; }
  @media only screen and (max-width: 1000px) {
    .portfolio__grid {
      grid-template-columns: repeat(2, 1fr); } }
  @media only screen and (max-width: 450px) {
    .portfolio__grid {
      grid-template-columns: repeat(1, 1fr); } }

.timeline {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../img/2.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: white;
  padding-top: 80px;
  padding-bottom: 100px; }
  .timeline__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 70px; }
    .timeline__grid__item-title {
      font-size: 36px;
      margin-bottom: 40px; }
    @media only screen and (max-width: 768px) {
      .timeline__grid {
        grid-template-columns: repeat(1, 1fr); } }

.about {
  padding-bottom: 60px; }
  .about__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin-top: 100px; }
    .about__grid__item-left {
      grid-column: span 2; }
      .about__grid__item-left img {
        width: 100%;
        object-fit: cover; }
    .about__grid__item-right {
      grid-column: span 3;
      display: flex;
      justify-content: center;
      flex-direction: column; }
      .about__grid__item-right-title {
        font-size: 35px;
        line-height: 1;
        margin-bottom: 35px; }
      .about__grid__item-right-content {
        line-height: 1.8;
        margin-bottom: 40px; }
      .about__grid__item-right-btn {
        min-width: 120px;
        width: 22%;
        max-width: 200px; }
    @media only screen and (max-width: 768px) {
      .about__grid__item-left, .about__grid__item-right {
        grid-column: span 5; } }

footer {
  background-color: #222222;
  text-align: center;
  color: #ccc; }
  footer .footer {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    footer .footer hr {
      color: #ccc; }

.social {
  max-width: 600px;
  margin: 50px auto 30px;
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .social-item {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    border-radius: 50%;
    color: #ccc;
    border: 1px #ccc solid;
    margin-right: 20px;
    transition: 0.3s;
    margin-bottom: 8px; }
    .social-item:hover {
      border: 1px #35a22c solid;
      transition: 0.3s;
      color: #35a22c; }

.copyright {
  margin: 30px auto; }

/*# sourceMappingURL=style.css.map */
